- name: Add PHP Repository (for Ubuntu/Debian)
  apt_repository:
    repo: ppa:ondrej/php
    state: present
  when: ansible_os_family == "Debian"

- name: Install PHP and extensions
  apt:
    name: "{{ php_packages }}"
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install PHP (for CentOS/RHEL)
  yum:
    name: "{{ php_packages }}"
    state: present
  when: ansible_os_family == "RedHat"
