- name: Install Apache
  apt:
    name: apache2
    state: present
    update_cache: yes

- name: Enable Apache mods
  shell: |
    a2enmod php{{ php_version }}
    a2enmod rewrite

- name: Ensure Apache is running
  service:
    name: apache2
    state: started
    enabled: yes
